

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.formulario{
  display: flex;
  flex-direction: column;
}

input{
  width: 100%;
  max-width: 400px;
  padding: 8px;
  box-sizing: border-box;
}

.barra_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #408A71;
  padding: 1rem;

}
.enlace{
  text-decoration: none;
  color: #B0E4CC;
}

.titulo_principal{
  color: #408A71;
  text-align: center;
}

.pie_de_pagina{
  background-color: #091413;
}

.d-block, .w-100{
  
  height: 300px;
}
.titulo_secundario{
  color: #285A48;
}

.menu, .dia{
  color:#B0E4CC;
  background-color:#285A48
}

.img-tarjeta {
  
  height: 370px;
}

.salmon{
  margin: 0 auto;
}
.iconos{
  display: flex;
  justify-content: space-around;
  
}
.pie_de_pagina{
  font-size: 30px;
  font-size: 1.5rem;
  color: aqua;

}
.barra_nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  
}

@media screen and (max-width: 480px){

  body{
    background-color:#285A48;
    
  }
 
  .barra_nav{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 1.5rem;
    width: 100%;
    
    
  }
  .enlace{
    text-align: left;
    padding: 0.5rem 0;
    width: 100%;
  
  }
}